Package: libpru-pssp-dev
Source: pru-pssp
Version: 6.1-1
Architecture: arm64
Maintainer: Suhaas Joshi <s-joshi@ti.com>
Installed-Size: 1507
Section: libs
Priority: optional
Multi-Arch: foreign
Homepage: https://git.ti.com/cgit/pru-software-support-package/pru-software-support-package
Description: Development files for PRU-PSSP v6.1.0
 The PRU Software Support Package (PSSP) is an add-on package that provides a
 framework and examples for developing software for the Programmable Real-time
 Unit  sub-system and Industrial Communication Sub-System (PRU-ICSS) in the
 supported TI processors.  The PRU-ICSS achieves deterministic, real-time
 processing, direct access to I/Os and meets ultra-low-latency requirements.
 .
 This package contains development files for PRU-PSSP.
