Source: ti-linux-kernel-rt
Section: kernel
Priority: optional
Maintainer: Jonas Wood <jw@ti.com>
Rules-Requires-Root: no
Build-Depends: bc, rsync, kmod, cpio, bison, flex | flex:native , , libssl-dev:native, libelf-dev:native, libcrypto++-dev:native
Homepage: https://www.kernel.org/

Package: linux-image-6.12.17-k3-rt
Architecture: arm64
Description: Linux kernel, version 6.12.17-k3-rt
 This package contains the Linux kernel, modules and corresponding other
 files, version: 6.12.17-k3-rt.

Package: linux-libc-dev
Section: devel
Provides: linux-kernel-headers
Architecture: arm64
Description: Linux support headers for userspace development
 This package provides userspaces headers from the Linux kernel.  These headers
 are used by the installed headers for GNU glibc and other system libraries.
Multi-Arch: same

Package: linux-headers-6.12.17-k3-rt
Architecture: arm64
Description: Linux kernel headers for 6.12.17-k3-rt on arm64
 This package provides kernel header files for 6.12.17-k3-rt on arm64
 .
 This is useful for people who need to build external modules

Package: linux-image-6.12.17-k3-rt-dbg
Section: debug
Architecture: arm64
Description: Linux kernel debugging symbols for 6.12.17-k3-rt
 This package will come in handy if you need to debug the kernel. It provides
 all the necessary debug symbols for the kernel and its modules.
