#!/usr/bin/make -f

srctree ?= .

build-indep:
build-arch:
	$(MAKE) -j 2 KERNELRELEASE=6.1.83-k3    ARCH=arm64 	KBUILD_BUILD_VERSION=1 -f $(srctree)/Makefile defconfig ti_arm64_prune.config
	$(MAKE) -j 2 KERNELRELEASE=6.1.83-k3    ARCH=arm64 	KBUILD_BUILD_VERSION=1 -f $(srctree)/Makefile

build: build-arch

binary-indep:
binary-arch: build-arch
	$(MAKE) -j 2 KERNELRELEASE=6.1.83-k3    ARCH=arm64 	KBUILD_BUILD_VERSION=1 -f $(srctree)/Makefile intdeb-pkg

clean:
	rm -rf debian/files debian/linux-*
	$(MAKE) clean

binary: binary-arch
